8_relay_ESP.Nodered_example/MQTT_ESP32_8relay_compact.json
[
    {
        "id": "6027f914f011308a",
        "type": "tab",
        "label": "ESP32 MQTT split",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c149cbe49dc3fa92",
        "type": "aedes broker",
        "z": "6027f914f011308a",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 170,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fccce2c771dd4c52",
        "type": "ui_led",
        "z": "6027f914f011308a",
        "order": 4,
        "group": "980eb6a7b7c8e5a1",
        "width": 2,
        "height": 1,
        "label": "Test 0",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Led 0",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "e76b7299118d466e",
        "type": "ui_led",
        "z": "6027f914f011308a",
        "order": 6,
        "group": "980eb6a7b7c8e5a1",
        "width": 2,
        "height": 1,
        "label": "Test 1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Led 1",
        "x": 590,
        "y": 640,
        "wires": []
    },
    {
        "id": "3ee34831056b74d4",
        "type": "ui_led",
        "z": "6027f914f011308a",
        "order": 8,
        "group": "980eb6a7b7c8e5a1",
        "width": 2,
        "height": 1,
        "label": "Test 2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Led 2",
        "x": 590,
        "y": 680,
        "wires": []
    },
    {
        "id": "84b18283cf9574f3",
        "type": "ui_led",
        "z": "6027f914f011308a",
        "order": 10,
        "group": "980eb6a7b7c8e5a1",
        "width": 2,
        "height": 1,
        "label": "Test 3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Led 3",
        "x": 590,
        "y": 720,
        "wires": []
    },
    {
        "id": "2ff87cc5b45ad048",
        "type": "ui_led",
        "z": "6027f914f011308a",
        "order": 12,
        "group": "980eb6a7b7c8e5a1",
        "width": 2,
        "height": 1,
        "label": "Test 4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Led 4",
        "x": 590,
        "y": 760,
        "wires": []
    },
    {
        "id": "fbe7c51f8f6c6fe3",
        "type": "ui_led",
        "z": "6027f914f011308a",
        "order": 14,
        "group": "980eb6a7b7c8e5a1",
        "width": 2,
        "height": 1,
        "label": "Test 5",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Led 5",
        "x": 590,
        "y": 800,
        "wires": []
    },
    {
        "id": "8f0fd5b91370a651",
        "type": "ui_led",
        "z": "6027f914f011308a",
        "order": 16,
        "group": "980eb6a7b7c8e5a1",
        "width": 2,
        "height": 1,
        "label": "Test 6",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Led 6",
        "x": 590,
        "y": 840,
        "wires": []
    },
    {
        "id": "7fdbdbcb9a8f8b7d",
        "type": "ui_led",
        "z": "6027f914f011308a",
        "order": 18,
        "group": "980eb6a7b7c8e5a1",
        "width": 2,
        "height": 1,
        "label": "Test 7",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Led 7",
        "x": 590,
        "y": 880,
        "wires": []
    },
    {
        "id": "74c4e4d31f7c96ac",
        "type": "ui_switch",
        "z": "6027f914f011308a",
        "name": "",
        "label": "Relay 0",
        "tooltip": "",
        "group": "980eb6a7b7c8e5a1",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "Relay_0",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 80,
        "wires": [
            [
                "7f2a758476f3ab47"
            ]
        ]
    },
    {
        "id": "2d970e63b252f7c9",
        "type": "ui_switch",
        "z": "6027f914f011308a",
        "name": "",
        "label": "Relay 2",
        "tooltip": "",
        "group": "980eb6a7b7c8e5a1",
        "order": 9,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "Relay_2",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 200,
        "wires": [
            [
                "7f2a758476f3ab47"
            ]
        ]
    },
    {
        "id": "ebc2e0c59688d658",
        "type": "ui_switch",
        "z": "6027f914f011308a",
        "name": "",
        "label": "Relay 3",
        "tooltip": "",
        "group": "980eb6a7b7c8e5a1",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "Relay_3",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 260,
        "wires": [
            [
                "7f2a758476f3ab47"
            ]
        ]
    },
    {
        "id": "e4d6f6a8e6c16aa1",
        "type": "ui_switch",
        "z": "6027f914f011308a",
        "name": "",
        "label": "Relay 4",
        "tooltip": "",
        "group": "980eb6a7b7c8e5a1",
        "order": 13,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "Relay_4",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 320,
        "wires": [
            [
                "7f2a758476f3ab47"
            ]
        ]
    },
    {
        "id": "15d3230bb4a9098a",
        "type": "ui_switch",
        "z": "6027f914f011308a",
        "name": "",
        "label": "Relay 6",
        "tooltip": "",
        "group": "980eb6a7b7c8e5a1",
        "order": 17,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "Relay_6",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 440,
        "wires": [
            [
                "7f2a758476f3ab47"
            ]
        ]
    },
    {
        "id": "02d6d7d61498fcfd",
        "type": "ui_switch",
        "z": "6027f914f011308a",
        "name": "",
        "label": "Relay 5",
        "tooltip": "",
        "group": "980eb6a7b7c8e5a1",
        "order": 15,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "Relay_5",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 380,
        "wires": [
            [
                "7f2a758476f3ab47"
            ]
        ]
    },
    {
        "id": "3746a18bd19f91e5",
        "type": "ui_switch",
        "z": "6027f914f011308a",
        "name": "",
        "label": "Relay 7",
        "tooltip": "",
        "group": "980eb6a7b7c8e5a1",
        "order": 19,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "Relay_7",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 500,
        "wires": [
            [
                "7f2a758476f3ab47"
            ]
        ]
    },
    {
        "id": "6b07831411ed9ef6",
        "type": "ui_switch",
        "z": "6027f914f011308a",
        "name": "",
        "label": "Relay 1",
        "tooltip": "",
        "group": "980eb6a7b7c8e5a1",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "Relay_1",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 140,
        "wires": [
            [
                "7f2a758476f3ab47"
            ]
        ]
    },
    {
        "id": "7f2a758476f3ab47",
        "type": "function",
        "z": "6027f914f011308a",
        "name": "Mix",
        "func": "var Rstatus = global.get(\"Rstatus\");  //real status from ESP32\nvar Lstatus = msg.payload;            //local status \n\nif (Rstatus === undefined) {\n    Rstatus = 0\n}\n\n//   node.warn([\"Ls=\"+Lstatus]);\nvar NRelay = 8;\nvar Shift = 0;\n\nfor (let i = 0; i < NRelay; i++) {\nif (msg.topic === \"Relay_\"+i) {\n   Shift = 0b1 << i;\n   MShift = 0Xff & (~ Shift);\n   Lstatus = (Rstatus & MShift) | (Lstatus << i); // & Shift);\n   \n//   node.warn([\"L=\"+Lstatus]);\n//   node.warn([\"S=\"+Shift]);\n//   node.warn([\"M=\"+MShift]);\n  }\n}\n//node.warn([\"Rstatus=\"+Rstatus]);\n\n/*\nOn switches change by user, only one message at the time is genetated,\nbut asa the feedback status come from MQTT, the switch update process will\ngenerate multi messages that since do not change nothing is better to avoid.\n*/\nif (Lstatus == Rstatus) {     //condition during feedback update\n    return null;\n}\n\n//node.warn([\"Lstatus=\"+Lstatus]);\n\nmsg.payload = Lstatus;\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 280,
        "wires": [
            [
                "7337610ae8abc47b"
            ]
        ],
        "info": "Function to join the switches \"msg.payload\" to a single control Byte to be sent to MQTT.\nThe function take care of the actual MQTT status coming from Arduino.\n"
    },
    {
        "id": "c557e8ce276a2319",
        "type": "mqtt in",
        "z": "6027f914f011308a",
        "name": "",
        "topic": "Relay_Status",
        "qos": "2",
        "datatype": "buffer",
        "broker": "6995babf4bac9776",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 500,
        "wires": [
            [
                "4c958c272ce0c153"
            ]
        ]
    },
    {
        "id": "7337610ae8abc47b",
        "type": "mqtt out",
        "z": "6027f914f011308a",
        "name": "",
        "topic": "Relay_Set",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6995babf4bac9776",
        "x": 990,
        "y": 280,
        "wires": []
    },
    {
        "id": "4c958c272ce0c153",
        "type": "function",
        "z": "6027f914f011308a",
        "name": "Buff-UInt8",
        "func": "//buf.readUInt8(offset)\n//offset <integer> Number of bytes to skip before starting to read. Must satisfy 0 <= offset <= buf.length - 1.\n//Returns: <integer>\n\n//********************************************\nvar buf = msg.payload;           //create a buffer and copy the payload\nglobal.set(\"Rstatus\",buf.readUInt8(0));  //store an a global variable\nvar Rstatus = global.get(\"Rstatus\");\n\nvar TmpR =  buf.readUInt8(0)  //variable to hold relays status - all\nvar TmpS                      //variable to hold single relay status\n\n\nnode.warn([\"Rstatus=\"+Rstatus]);     //diplsy Rstatus\n\nvar NRelay = 8;      //number of relay\nvar ShiftM = 0b1;    //variable used as byte mask\n\n//const tstatus = [0,1,2,3];  //local array sise automatically adjusted\n\n//copy the relay status bit in the array\nfor (let i = 0; i < NRelay; i++) {\n\n  if (TmpR & ShiftM) {\n   TmpS = 1\n  }\nelse {\n   TmpS = 0\n  }\n\nShiftM <<= 1;\n//node.warn(ShiftM);\n//node.warn(TmpS);\nmsg.payload = TmpS;\n\n//create the messages to update the LED and switches status \nmsg[i] = {payload:TmpS};\nmsg[i].topic = \"Relay_\"+i;\n\n//msg[i].payload = TmpS;   //give runtime error\n//msg.payload = TmpS;      //works\n//node.warn(msg[i])\n\n}\n\nreturn [msg[0],msg[1],msg[2],msg[3],msg[4],msg[5],msg[6],msg[7]];\n",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 500,
        "wires": [
            [
                "74c4e4d31f7c96ac",
                "fccce2c771dd4c52"
            ],
            [
                "6b07831411ed9ef6",
                "e76b7299118d466e"
            ],
            [
                "2d970e63b252f7c9",
                "3ee34831056b74d4"
            ],
            [
                "ebc2e0c59688d658",
                "84b18283cf9574f3"
            ],
            [
                "e4d6f6a8e6c16aa1",
                "2ff87cc5b45ad048"
            ],
            [
                "02d6d7d61498fcfd",
                "fbe7c51f8f6c6fe3"
            ],
            [
                "15d3230bb4a9098a",
                "8f0fd5b91370a651"
            ],
            [
                "3746a18bd19f91e5",
                "7fdbdbcb9a8f8b7d"
            ]
        ],
        "info": "Read Payload as buffer and convert it to IInt8 number"
    },
    {
        "id": "f1b1831f825be8db",
        "type": "comment",
        "z": "6027f914f011308a",
        "name": "",
        "info": "Control 8 relay on ESP32 via MQTT.",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "77eed28815475a93",
        "type": "ui_button",
        "z": "6027f914f011308a",
        "name": "Reset All",
        "group": "980eb6a7b7c8e5a1",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "Turn off all reles",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 820,
        "y": 220,
        "wires": [
            [
                "7337610ae8abc47b"
            ]
        ]
    },
    {
        "id": "3868e5ee69b4c85f",
        "type": "ui_button",
        "z": "6027f914f011308a",
        "name": "Set All",
        "group": "980eb6a7b7c8e5a1",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Set",
        "tooltip": "Turn on all reles",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "255",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 340,
        "wires": [
            [
                "7337610ae8abc47b"
            ]
        ]
    },
    {
        "id": "6542a3af44e5bcb3",
        "type": "ui_spacer",
        "z": "6027f914f011308a",
        "name": "spacer",
        "group": "6efe333ae35d0ef2",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "f02beaaf331c991a",
        "type": "ui_spacer",
        "z": "6027f914f011308a",
        "name": "spacer",
        "group": "980eb6a7b7c8e5a1",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "980eb6a7b7c8e5a1",
        "type": "ui_group",
        "name": "Control",
        "tab": "e14da1fe3925ab1c",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6995babf4bac9776",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.4",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6efe333ae35d0ef2",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "b1a3bc930b1bcc2d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e14da1fe3925ab1c",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b1a3bc930b1bcc2d",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    }
]